version: "3"
services:
  gp_frontend:
    build: ./gp_frontend
    container_name: gp_dashboard
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./gp_frontend:/app
      - /app/node_modules

  mqtt:
    image: toke/mosquitto
    container_name: mqtt
    expose:
      - 1883
    ports:
      - 1883:1883
    restart: unless-stopped

  ssvcp:
    build: ./gp_backend/SVCP
    container_name: ssvcp
    ports:
      - "5000:5000"

  #ssacp
  ssacp_01:
    build: ./gp_backend/SACP
    container_name: ssacp_01
    ports:
      - "18861:18861"

  ssacp_02:
    build: ./gp_backend/SACP
    container_name: ssacp_02
    ports:
      - "18862:18861"

  ssacp_03:
    build: ./gp_backend/SACP
    container_name: ssacp_03
    ports:
      - "18863:18861"

  mongo_db1:
    image: mongo:6
    container_name: mongo_db1
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27018:27017" 
    volumes:
      - ./gp_backend/mongo-config/data1:/data/db
      - ./gp_backend/mongo-config/mongo-init:/docker-entrypoint-initdb.d

  mongo_db2:
    image: mongo:6
    container_name: mongo_db2
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27019:27017"
    volumes:
      - ./gp_backend/mongo-config/data2:/data/db
      - ./gp_backend/mongo-config/mongo-init:/docker-entrypoint-initdb.d
    networks:
      - gpnet

  mongo_db3:
    image: mongo:6
    container_name: mongo_db3
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27020:27017"
    volumes:
      - ./gp_backend/mongo-config/data3:/data/db
      - ./gp_backend/mongo-config/mongo-init:/docker-entrypoint-initdb.d

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_MONGODB_SERVER: mongo_db1
      ME_CONFIG_MONGODB_AUTH_DATABASE: admin
    depends_on:
      - mongo_db1


  # mongo:
  #   image: mongo:6
  #   container_name: mongo
  #   restart: always
  #   ports:
  #     - "27017:27017"    
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: root
  #   volumes:
  #     - ./gp_backend/mongo-config/data:/data/db           
  #     - ./gp_backend/mongo-config/mongo-init:/docker-entrypoint-initdb.d