version: "3"
services:
  gp_frontend:
    build: ./gp_frontend
    container_name: gp_dashboard
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./gp_frontend:/app
      - /app/node_modules

  mqtt:
    image: toke/mosquitto
    container_name: mqtt
    expose:
      - 1883
    ports:
      - 1883:1883
    restart: unless-stopped

  ssvcp:
    build: ./gp_backend/SVCP
    container_name: ssvcp
    ports:
      - "5000:5000"
  # #isccp
  # isccp_01:
  #   build: ./gp_backend/SCCP
  #   container_name: isccp_01
  #   environment:
  #     - ISCCP_ID=01
  #     - BROKER=mqtt

  #   depends_on:
  #     - mqtt

  # isccp_02:
  #   build: ./gp_backend/SCCP
  #   container_name: isccp_02
  #   environment:
  #     - ISCCP_ID=02
  #     - BROKER=mqtt
  #   depends_on:
  #     - mqtt

  # isccp_03:
  #   build: ./gp_backend/SCCP
  #   container_name: isccp_03
  #   environment:
  #     - ISCCP_ID=03
  #     - BROKER=mqtt
  #   depends_on:
  #     - mqtt

  #ssacp
  ssacp_01:
    build: ./gp_backend/SACP
    container_name: ssacp_01
    ports:
      - "18861:18861"

  ssacp_02:
    build: ./gp_backend/SACP
    container_name: ssacp_02
    ports:
      - "18862:18861"

  ssacp_03:
    build: ./gp_backend/SACP
    container_name: ssacp_03
    ports:
      - "18863:18861"

  car_01:
    build: ./gp_backend/cars
    container_name: car_01
    environment:
      - CAR_ID=01
      - MQTT_BROKER=mqtt
    depends_on:
      - mqtt

