@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web';
}

#root {
  width: 100%;
}

body {
  margin: 0;
  background-color: #15151e;
  display: flex;
  place-items: center;
}

a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  border-bottom: 1px solid transparent;
  color: #AAAAAA;
}

a:hover {
  color: white;
  border-bottom-color: #ef0000;
}

h1 {
  text-transform: uppercase;
  font-family: 'Orbitron';
}

ul {
  display: flex;
  list-style: none;
}

li button {
  padding: 8px 24px;
  white-space: nowrap;
  background: transparent;
  font-size: 17px;
  font-weight: 600;
  color: #AAAAAA;
  cursor: pointer;
  border-bottom: 1px solid transparent;

}

li button:hover {
  color: white;
  border-bottom-color: #ef0000;
}