.dashboard_container {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.dashboard_title {
    width: 80%;
    display: flex;
    align-items: center;
}

.dashboard_team {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #000;
    border-bottom: 1px solid #303037;
    border-top: 1px solid #303037;
    align-items: end
}

.dashboard_select_team {
    padding: 12px 0px;
    cursor: pointer;
    width: 200px;
    background-color: #000;
    border-bottom: 1px solid transparent;
}

.dashboard_select {
    padding: 12px 0px;
    border-bottom: 1px solid #303037;
    cursor: pointer;
    width: 200px;
    background-color: #000;
    margin-bottom: 2rem;
}

.dashboard_select:focus,
.dashboard_select_team:focus {
    outline: 0;
    border-bottom-color: red;
}
.dashboard_table_pilot{
    display: flex;
    justify-content: space-between;
}
.dashboard_table_container {
    background-color: #000;
    padding: 2.5rem 4rem 3.5rem 4rem;
    border-radius: 10px
}

.dashboard_table {
    width: 100%;
    border-collapse: collapse;

    th {
        border-bottom: 2px solid #606066;
        padding: 16px 48px 16px 4px;
        color: #AAAAAA;
        text-transform: uppercase;
        text-align: left
    }

    td {
        border-bottom: 1px solid #303037;
        padding: 16px 48px 16px 4px;
        font-weight: 600;
        color: #FFF;
        padding: 10px
    }
}